body{background:#222;margin:0;padding:0;}
button{outline:none;}
button:active{background:#777;color:#000;}

calc{position:absolute;top:0px;left:0px;width:100%;height:611px;max-width:360px;background:#333;}
calc b{position:absolute;top:10px;width:32px;height:16px;border:2px solid #353535;border-radius:10px;background:#555;}
calc b s{position:absolute;top:-1px;width:16px;height:16px;border:1px solid #444;border-radius:8px;background:#333;}
calc b l{position:absolute;top:2px;left:35px;font:12px sans-serif;color:#666;}
calc dspl{position:absolute;top:40px;left:0px;right:0px;height:120px;margin:0 9px;padding:9px;font:15px sans-serif;border:2px solid #424242;border-radius:5px;background:rgb(38, 125, 136);}
calc res{position:absolute;top:140px;left:0px;right:0px;text-align:right;height:88px;margin:0 9px;padding:9px;font:25px sans-serif;}

calc ctrl{position:absolute;top:200px;left:7px;right:7px;}
calc ctrl lc{position:absolute;top:0px;left:3px;width:120px;}
calc ctrl rc{position:absolute;top:0px;right:3px;width:120px;text-align:right;}
calc ctrl button{width:50px;height:25px;margin:5px 2px;font:10px sans-serif;border:2px solid #555;border-radius:5px;background:#313131;color:#777;}
calc ctrl cur{position:absolute;top:10px;left:127px;height:50px;width:90px;}
calc ctrl cur button{position:absolute;width:30px;margin:0;font:12px sans-serif;border:2px solid #555;background:#383838;color:#aaa;}

calc fnct{position:absolute;bottom:195px;left:7px;}
calc fnct button{width:48.1px;height:25px;margin:8px 3px;font:10px sans-serif;border:2px solid #555;border-radius:5px;background:#282828;color:#777;}

calc cnsl{position:absolute;bottom:9px;left:7px;}
calc cnsl button{width:60px;height:27px;margin:8px 3px;font:12px sans-serif;border:2px solid #555;border-radius:5px;background:#333;color:#777;}

calc fnct button p{position:relative;top:4px;margin:0;}
calc cnsl button p{position:relative;top:4px;margin:0;}

calc fnct button l{position:relative;top:-26px;left:0px;font:9px sans-serif;color:rgb(57, 102, 187);}
calc cnsl button l{position:relative;top:-32px;left:0px;font:9px sans-serif;color:rgb(57, 102, 187);}
calc button l s, calc .shift{color:rgb(134, 124, 27);text-decoration:none;}
calc button l a, calc .alpha{color:rgb(182, 33, 137);}

calc .eraser{background:#693434;}
calc .oper{background:#213d41;}